* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main .pageOne {
    background-color: #f4f2ee;
    display: flex;
    justify-content: center;
    height: 100vh;
    max-width: 100%;
    padding: 0;
}

main .pageOne .leftContent {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main .pageOne .leftContent .title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .pageOne .leftContent .title h2 {
    font-size: 2rem;
    color: #46413d;
    opacity: 0.5;
}

main .pageOne .leftContent .title h1 {
    font-size: 6rem;
    color: #46413d;
    font-family: Playfair Display;
}

main .pageOne .leftContent .title h3 {
    font-size: 2rem;
    color: #46413d;
    font-style: italic;
}

main .pageOne .leftContent .paragraph {
    margin-bottom: 3rem;
    width: 60%;
}

main .pageOne .leftContent .paragraph p {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.8rem;
}

main .pageOne .leftContent .mainButton a {
    padding: 1.5rem 4rem;
    background-color: #46413d;
    color: #f4f2ee;
    text-decoration: none;
    font-weight: 800;
}

main .pageOne .leftContent .mainButton a:hover {
    background-color: #52473d;
}

.pageOne .rightContent img {
    max-height: 100vh;
    width: auto;
    object-fit: contain;
}

main .pageTwo {
    background-color: #ecd9d4;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

main .pageTwo .leftContent {
    max-height: 100vh;
    flex-shrink: 0;
}

main .pageTwo .leftContent img {
    max-height: 100vh;
    width: auto;
}

main .pageTwo .rightContent {
    padding: 5% 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
}

main .pageTwo .rightContent .title {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

main .pageTwo .rightContent .title h1 {
    font-size: 3rem;
    color: #46413d;
    font-family: Playfair Display;
}

main .pageTwo .rightContent .lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

main .pageTwo .rightContent .lista ul {
    line-height: 2rem;
}

main .pageTwo .rightContent .lista ul li {
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 3rem;
}

main .pageThree {
    min-height: 100vh;
    display: flex;
    background-color: #626f6d;
}

main .pageThree .left {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 10%;
}

main .pageThree .left .text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #f4f2ee;
}

main .pageThree .left .text h1 {
    font-family: Playfair Display;
    font-size: 4.5rem;
}

main .pageThree .left .text p {
    width: 80%;
    font-size: 1.4rem;
}

main .pageThree .left .boxes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main .pageThree .left .online {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2e31;
    padding: 1.5rem;
    border-radius: 30px;
}

main .pageThree .left .online p {
    font-size: 1.4rem;
    font-weight: bold;
    color: #f4f2ee;
}

main .pageThree .left .horario {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f2ee;
    padding: 1.5rem;
    border-radius: 30px;
}

main .pageThree .left .horario p {
    color: #2a2e31;
    font-size: 1.4rem;
}

main .pageThree .left .horario h2 {
    font-weight: bold;
    font-size: 1.4rem;
}

main .pageThree .right {
    height: 100vh;
    width: auto;
    flex-shrink: 0;
}

main .pageThree .right img {
    height: 100vh;
    width: auto;
}

main .pageFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 5% 10%;
    background-color: #ecd9d4;
}

main .pageFour h1 {
    font-size: 3.5rem;
    color: #46413d;
    font-family: Playfair Display;
}

main .pageFour .people {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

.marcia, .ester {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: start;
}

.marcia p, .ester p {
    font-size: 1.5rem;
    font-weight: 400;
    width: 50%;
}

.marcia span, .ester span {
    font-weight: bold;
}

.pageFour .people img {
    max-height: 30vh;
}
