/* Estilos gerais do footer */
footer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 5%;
    background-color: #292e31;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}

/* Configuração das divs dentro do footer */
.info1, .info2, .info3 {
    display: flex;
    flex: 1;
}

/* Alinhamento dos itens */
.info1 {
    justify-content: flex-start;
}

.info2 {
    justify-content: center;
}

.info3 {
    justify-content: flex-end;
}

/* Estilos dos textos e links */
footer a, footer p {
    color: #f3f2ed;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover {
    text-decoration: underline;
}

/* RESPONSIVIDADE */

/* Tablets */
@media (max-width: 1024px) {
    footer {
        flex-wrap: wrap;
        text-align: center;
    }

    .info1, .info2, .info3 {
        flex: none;
        width: 100%;
        justify-content: center;
    }

    .info1 {
        order: 2;
        margin-top: 10px;
    }

    .info2 {
        order: 1;
    }

    .info3 {
        order: 3;
        margin-top: 10px;
    }
}

/* Celulares */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 15px;
        padding: 30px 5%;
        text-align: center;
    }

    .info1, .info2, .info3 {
        width: 100%;
        justify-content: center;
    }

    footer a, footer p {
        font-size: 0.9rem;
    }
}
