footer{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #292e31;
}
footer a{
    color: #f3f2ed;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}