footer{
    display: flex;
    padding: 50px;
    background-color: #292e31;
    gap: 25px;
    justify-content: space-around;
}
.info1, .info2, .info3 {
    display: flex;
    flex: 1;
}
.info1 {
    justify-content: baseline;
}
.info2 {
    justify-content: center;
}
.info3 {
    justify-content: end;
}
footer a, footer p{
    color: #f3f2ed;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}